<script>
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", function() {
      navigator.serviceWorker
        .register("/sw.js")
        .then(function(registration) {
          // Successfully registered the Service Worker
          //console.log('Service Worker registration successful with scope: ', registration.scope);
        })
        .catch(function(err) {
          // Failed to register the Service Worker
          //console.log('Service Worker registration failed: ', err);
        });
    });
  }
</script>
<footer>
  <section class="links">
    Reach me via <a href="mailto:ping@kaabachi.io" rel="me">ping@kaabachi.io</a> · <a href="https://github.com/aminekaabachi" rel="me">GitHub</a> ·
    <a href="https://www.linkedin.com/in/aminekaabachi">LinkedIn</a> ·
    <a href="https://medium.com/@amine.kaabachi">Medium</a> ·
    <a href=" https://dribbble.com/aminekaabachi">Dribbble</a>

   
  </section>
  <div class="timing-stats"></div>
</footer>
